@model IEnumerable<Models.Categoria>

@{
    ViewData["Title"] = "Categorias registradas";
}

<div class="container p-5">
    <div class="border border-light rounded p-5">
        <a asp-controller="Categorias" asp-action="NovaCategoria" class="btn btn-sm btn-outline-info">
            Nova categoria
        </a>

        <hr />

        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr class="thead-light">
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>

                    <th>
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>

                        <td>
                            <div class="row">
                                <a asp-controller="Categorias" asp-action="AtualizarCategoria"
                                    asp-route-categoriaId="@item.CategoriaId"
                                    class="btn btn-sm btn-outline-primary rounded-circle">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>

                                <form asp-controller="Categorias" asp-action="ExcluirCategoria"
                                    asp-route-categoriaId="@item.CategoriaId">

                                    <button type="submit" class="btn btn-sm btn-outline-danger rounded-circle">
                                        <i class="fa fa-times-circle"></i>
                                    </button>

                                </form>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>