@model Models.Produto

@{
    ViewData["Title"] = "Novo produto";
}

<div class="container p-5">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow">
            <h6>Novo produto</h6>
            <hr />

            <form asp-action="NovoProduto">
                <div class="form-group">
                    <label>Nome</label>
                    <input asp-for="Nome" type="text" class="form-control form-control-sm" />
                </div>

                 <div class="form-group">
                    <label>Quantidade</label>
                    <input asp-for="Quantidade" type="number" class="form-control form-control-sm" />
                </div>

                 <div class="form-group">
                    <label>Preco</label>
                    <input asp-for="Preco" step="0,01" type="text" class="form-control form-control-sm" />
                </div>

                 <div class="form-group">
                    <label>Categoria</label>
                    <select asp-for="CategoriaId" asp-items="ViewBag.CategoriaId" class="form-control form-control-sm"></select>
                </div>

                <div class="container">
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                Salvar
                            </button>
                        </div>

                        <div class="pl-1">
                            <a class="btn btn-sm btn-light" asp-action="Index">Voltar</a>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>